<footer>
    <nav>
        <ul>
            <li><a href="">ARTICLES</a></li>
            <li><a href="">BOOKS</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="">REASONS</a></li>
            <li><a href="">TIPS</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="">TWITTER</a></li>
            <li><a href="">INSTAGRAM</a></li>
            <li><a href="">MASTODON.SOCIAL</a></li>
        </ul>
    </nav>

    <span>
        ©2021
        we ❤️ components
    </span>
</footer>