<section id="purchase" class="purchase">
    <h2 class="purchase__title">3 Reasons to purchase</h2>

    <div class="purchase__articles">
        <article class="purchase__articles--item1">
            <h3 class="purchase__articles--title">Ut sed metus</h3>
            <p class="purchase__articles--text">Lorem, ipsum dolor sit amet, consectetur.</p>
        </article>
        <article class="purchase__articles--item2">
            <h3 class="purchase__articles--title">Curabitur ac erat</h3>
            <p class="purchase__articles--text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="purchase__articles--item3">
            <h3 class="purchase__articles--title">Morbi dictum</h3>
            <p class="purchase__articles--text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>

    <div class="purchase__button">
        <a class="purchase__button--text" href="#" title="Button More reasons">More reasons</a>
    </div>
</section>