// Fonts
$font-titles: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

// Colors
$color-darkblue-menu: #0271bc;
$color-darkblue-background: #304268;
$color-white: #ffffff;
$color-lightblue-text: #8ccbea;
$color-lightblue-background: #eff9ff;
$color-orange: #f26002;
$color-black: #000000;
$color-black: #4a4a4a;
