.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__title {
    width: 290px;
    height: 110px;
    font-family: $font-titles;
    color: $color-white;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    margin: 0px 15px;
  }
  &__text {
    width: 290px;
    height: 21px;
    font-family: $font-text;
    color: $color-white;
    text-align: center;
    font-size: 16px;
    margin: 10px 15px 45px 15px;
  }
  &__menu {
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 14px;
  }
  &__icon-down {
    width: 45px;
    height: 45px;
    background-color: $color-white;
    border-radius: 50%;
    margin-bottom: 53px;
    padding: 15px 13px;
  }
}
