.purchase {
  width: 100%;
  background-color: $color-lightblue-background;
  padding: 30px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  @media (min-width: 1200px) {
    padding: 60px 85px 60px 85px;
  }
  &__title {
    width: 290px;
    font-family: $font-titles;
    color: $color-black;
    text-transform: capitalize;
    font-size: 24px;
    margin: 0px 0px 45px 0px;
    @media (min-width: 768px) {
      width: 450px;
      font-size: 26px;
      text-align: center;
    }
    @media (min-width: 1200px) {
      width: 730px;
      font-size: 32px;
    }
  }
  &__articles {
    margin: 0 53px 0;
    color: $color-black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    @media (min-width: 768px) {
      margin: 0px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    &--item1 {
      grid-row: 1/2;
      @media (min-width: 768px) {
        grid-column: 1/2;
      }
    }
    &--item2 {
      grid-row: 2/3;
      @media (min-width: 768px) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
    &--item3 {
      grid-row: 3/4;
      @media (min-width: 768px) {
        grid-column: 3/4;
        grid-row: 1/2;
      }
    }
    &--title {
      width: 184px;
      font-family: $font-titles;
      color: $color-black;
      font-size: 18px;
      font-weight: bold;
      @media (min-width: 768px) {
        margin: 0px 15px 14px 15px;
        width: 210px;
        font-size: 24px;
      }
      @media (min-width: 1200px) {
        width: 350px;
        font-size: 24px;
      }
    }
    &--text {
      width: 180px;
      font-family: $font-text;
      color: $color-black;
      font-size: 18px;
      margin-bottom: 45px;
      @media (min-width: 768px) {
        margin: 0px 15px 60px 15px;
        width: 212px;
        font-size: 20px;
      }
      @media (min-width: 1200px) {
        width: 353px;
      }
    }
  }
  &__button {
    background-color: $color-orange;
    width: 184px;
    height: 45px;
    border-radius: 25.5px;
    padding: 9px 2px 7px 32px;
    @media (min-width: 768px) {
      width: 210px;
      padding: 9px 2px 7px 45px;
    }
    @media (min-width: 1200px) {
      width: 255px;
      padding: 9px 2px 7px 70px;
    }
    &--text {
      font-family: $font-text;
      color: $color-white;
      font-size: 20px;
      transition: color 0.5s linear;
      &:hover {
        color: $color-darkblue-menu;
      }
    }
    transition: background-color linear 0.5s;
    &:hover {
      background-color: $color-lightblue-text;
    }
  }
}
