.window {
  width: 100%;
  height: 376px;
  background-color: burlywood;
  //   cambiar el color cuando acabe
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
