.window {
  width: 100%;
  background-color: $color-white;
  padding: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  &__pretitle {
    width: 290px;
    font-family: $font-text;
    color: $color-lightblue-text;
    text-transform: capitalize;
    font-size: 14px;
    @media (min-width: 768px) {
      width: 690px;
    }
  }
  &__title {
    width: 290px;
    font-family: $font-titles;
    color: $color-black;
    text-transform: capitalize;
    font-size: 24px;
    margin: 1px 0px 15px;
    @media (min-width: 768px) {
      width: 690px;
      font-size: 26px;
      margin: 1px 0px 30px;
    }
  }
  &__text {
    width: 290px;
    font-family: $font-text;
    color: $color-grey;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1.5;
    margin: 0px 0px 30px;
    @media (min-width: 768px) {
      width: 690px;
      font-size: 20px;
    }
  }
  &__button {
    background-color: $color-white;
    width: 76px;
    height: 45px;
    margin-right: 220px;
    border: solid 2px $color-orange;
    border-radius: 25.5px;
    padding: 7px 2px 7px 22px;
    @media (min-width: 768px) {
      width: 91px;
      margin-right: 600px;
      padding: 7px 2px 7px 32px;
    }
    &--text {
      font-family: $font-text;
      color: $color-orange;
      font-size: 20px;
      font-weight: bold;
      transition: color 0.5s linear;
      &:hover {
        color: $color-darkblue-menu;
      }
    }
    transition: border-color linear 0.5s;
    &:hover {
      border-color: $color-darkblue-menu;
    }
  }
}
